@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    text-shadow: 0 0 1px #000, 0 0 2px #000;
    background: {background_color};
    font-family: 'Montserrat', 'Roboto', Arial, sans-serif!important;
    font-weight: 700;
    font-size: {font_size};
    line-height: 1.5em;
    color: {text_color};
    -webkit-mask-image: -webkit-gradient(linear, left 16%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

#log>div {
    animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
    -webkit-animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
}

.colon {
    display: none;
}

#log {
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px;
    width: 900px;
    table-layout: fixed;
}

#log>div {
    display: block;
    margin-bottom: 20px;
}

#log>div.deleted {
    visibility: hidden;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .message {
    vertical-align: top;
    display: block;
    padding-bottom: 0.1em;
}
#log .meta {
    max-width: 500px;
    vertical-align: top;
    display: inline-block;
    padding-bottom: 0.1em;
    text-align: left;
    padding-right: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #A020F0; /* Aqui é onde você troca a cor do fundo da meta */
    font-weight: bolder;
    padding: 8px 10px;
    color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#log .message {
    word-wrap: break-word;
    width: 65%;
    font-weight: 500;
    background: rgba(9, 19, 20, 0.75);
    color: #fff;
    padding: 15px 15px; /* Ajusta o tamanho do conteúdo da mensagem */
    margin-bottom: 10px; /* Adiciona espaço entre o conteúdo das mensagens */
    border-top-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    border-bottom: 3px solid #A020F0; /* Aqui é onde você troca a cor da borda */
}

.badge {
    display: inline-block;
    margin-right: 0px;
    position: relative;
    height: 1em;
    vertical-align: middle;
    top: -0.1em;
}

.name {
    margin-left: 0;
    color: #fff!important;
}
